<div>
    <p>Olá Treinador Pokémon,</p>

    <p>Aqui estão as informações de 5 pokémons aleatórios do tipo {{type}} que podem ser interessantes para você capturar durante a sua jornada.</p>
    
    <img src={{photo}} alt="pokemon">
    <p>Nome do Pokémon: {{ name }}</p>
    <p>Peso: {{ weight }}</p>
    <p>Altura: {{ height }}</p>
    <p>Experiência base: {{ base_experience }}</p>

    
    <p>Gotta Catch 'Em All!</p>
    <p>See ya!</p>

</div>